@import "tailwindcss";

/* 
@import "tailwindcss/preflight";  

@import "tailwindcss/theme";  

@import "tailwindcss/utilities";  */


:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0E214E;
  --primary-light: #46AAFF;
  --secondary: #2FB697;
  --accent: #8958FE;
  --white: #FFFFFF;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
  --primary: #46AAFF;
  --primary-light: #0E214E;
  --secondary: #2FB697;
  --accent: #8958FE;
  --white: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}



/* Add the hide-scrollbar utility */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}


@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-white: var(--white);
}